// Style guide variables
// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Typography
$body-font: 32px;
$family: "Inter", sans-serif;
$weight-light: 300;
$weight-medium: 500;
$weight-heavy: 700;

// Colours
$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);
